<header class="main-header">
  <div>
    <a href="/">
      <img class="main-header-logo" src="/assets/images/logo.png" alt="FPRODZ Logo">
    </a>
  </div>
  <nav class="main-navigation">
    <input id="nav" type='checkbox'>
    <label for="nav">
        <div class='menu'>
            <span class='hamburger'></span>
        </div>
    </label>
    
    <ul class="nav-list">
      {% for item in site.data.navigation %}
      <li class="nav-item">
        <a class="nav-link" href="{{ item.link }}">{{ item.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>