@font-face {
  font-family: 'Sattelar';
  src: url('/assets/fonts/sattelar.ttf') format(truetype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nimbus';
  src: url('/assets/fonts/nimbus.otf') format(truetype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nimbus Bold';
  src: url('/assets/fonts/nimbus-bold.otf') format(truetype);
  font-weight: bold;
  font-style: bold;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Nimbus Bold', Arial, Helvetica, sans-serif;
}

.main-header {
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}


.main-header-logo {
  width: 128px;
  height: 128px;
}

.hamburger {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  transition: .5s ease-in-out;
}

.hamburger::before,
.hamburger::after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transition: .5s ease-in-out;
}

.hamburger::before {
  top: -10px;
}

.hamburger::after {
  bottom: -10px;
}

#nav {
  display: none;
}

#nav:checked ~ .nav-list {
  opacity: 1;
  visibility: visible;
}

#nav:checked ~ label .menu {
  box-shadow: 0 0 0 130vw #000000, 0 0 0 130vh #000000;
  background-color: #000000;
  border-radius: 0;
}

#nav:checked ~ label .hamburger,
#nav:checked ~ label .hamburger:before,
#nav:checked ~ label .hamburger:after {
  background-color: #ffffff;
}

#nav:checked ~ label .hamburger {
  transform: rotate(45deg);
}

#nav:checked ~ label .hamburger:after {
  transform: rotate(90deg);
  bottom: 0;
}

#nav:checked ~ label .hamburger:before {
  transform: rotate(90deg);
  top: 0;
}

.menu {
  margin-right: 25px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  box-shadow: 0 0 0 0 #000000, 0 0 0 0 #000000;
  opacity: 1;
  visibility: visible;
  border-radius: 50%;
  z-index: 4;
}

.nav-list {
  position: fixed;
  z-index: 4;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  list-style: none;
  text-align: center;
}

.nav-item:nth-child(2) {
  display: none;
}

.nav-item {
  margin-bottom: 50px;
}

.nav-link {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
}

.button {
  top: -10vh;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: scroll;
}

.project-link {
  display: block;
  height: 33.333%;
  text-decoration: none;
  color: #000000;
  z-index: 2;
}

.project-video {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.project-name {
  margin-top: 250px;
  margin-left: 16px;
  color: #ffffff;
  text-transform: uppercase;
}

.korea-case,
.penalty-case,
.codex-case {
  background-size: cover;
  background-position: 50% 50%;
}

.korea-case {
  background-image: url('/assets/images/ultra-korea.png');
}

.penalty-case {
  background-image: url('/assets/images/penalty.png');
}

.codex-case {
  background-image: url('/assets/images/codex.png');
}

.about {
  padding: 20px;
}

.about,
.korea,
.penalty,
.codex {
  max-width: 62rem;
  color: #ffffff;
  text-align: justify;

  h1 {
    font-size: 2rem;
    text-transform: uppercase;
  }

  p {
    font-size: 1rem;
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }
}

.about {
  font-family: 'Nimbus', Arial, Helvetica, sans-serif;

  h1 {
    font-family: 'Sattelar', Arial, Helvetica, sans-serif;
  }
}

@media screen and (min-width: 992px) {	
  .about,
  .korea,
  .penalty,
  .codex {
    h1 {
      font-size: 6rem;
    }
  
    p {
      font-size: 1.4rem;
    }
  }

  .main-header {
    padding: 0 4rem;
  }

	.menu {
    margin-right: 0;
		opacity: 0;
		visibility: hidden;
	}

	.nav-list {
		position: relative;
		opacity: 1;
		visibility: visible;
		top: 0;
		left: 0;
		transform: none;
	}

	.nav-item {
		display: inline-block;
	}

  .nav-item:nth-child(2) {
    display: inline-block;
  }
  

  .nav-link {
    margin-right: 1.875rem;
    font-size: 1rem;

    &::before {
      position: absolute;
      bottom: -0.125rem;
      display: inline-block;
      content: '';
      width: 0;
      height: 0.125rem;
      background-color: #ffffff;
      transition: all ease 0.2s;
    }

    &:hover::before {
      width: 100%;
      transition: all ease 0.2s;
    }
  }
  
  .button {
    top: -13vh;
  }  

  .projects {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: auto;
  }
  
  .project-link {
    display: block;
    width: 33.333%;
    text-decoration: none;
    color: #000000;
    transition: width .5s ease-in;
    z-index: 2;
  
    &:hover {
      width: 50%;
    }
  }
  
  .project {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 100vh;
    overflow: hidden;
  
    .project-video {
      position: absolute;
      display: block;
      top: 0;
      left: -50%;
      opacity: 0;
      visibility: hidden;
    }
  
    .project-wrap {
      padding: 1rem 1rem 0 1rem;
      width: 100%;
      transition: all .5s ease-in-out;
      z-index: 3;
  
      .project-line {
        margin: 1rem 0;
        width: 0;
        height: 2px;
        background-color: #ffffff;
        transition: width .5s ease-in;
      }

      .project-name {
        margin-top: 0;
        margin-left: 0;
      }
  
      .project-description {
        height: 0;
        transition: height .5s ease-in-out;
      }
    }
  
    &:hover .project-video {
      opacity: 1;
      visibility: visible;
    }
  
    &:hover .project-wrap {
      color: #ffffff;
      background-color: #000000;
    }
  
    &:hover .project-line {
      width: 100%;
    }
  
    &:hover .project-description {
      height: 3.75rem;
    }
  }
}

.hero {
  position: relative;
  height: 100vh;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    top: -12rem;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }

  video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .home,
  .about,
  .korea {
    position: relative;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .home {
    text-align: center;
    

    .logo {
      width: max(375px, 40vw);
    } 

    .button {
      position: relative;
      display: inline-block;
      padding: 0.625rem 1.25rem;
      border-radius: 0.3125rem;
      border: 0.125rem solid #ffffff;
      font-weight: bold;
      color: #ffffff;
      text-decoration: none;
      transition: all ease 0.2s;
    
      &:hover {
        color: #000000;
        background-color: #ffffff;
        transition: all ease 0.2s;
      }
    }
  }
}

.vimeo-video {
  position: relative;
}

.vimeo-video-korea {
  padding: 42.19% 0 0 0;
}

.vimeo-video-penalty,
.vimeo-video-codex {
  padding: 56.25% 0 0 0;
}

.showreel {
  width: 100vw;
  height: 100vh;
  background-color: #000000;

  .vimeo-video-showreel {
    
    iframe {     
      position: absolute;
      top: 1rem;
      width: 100%;
      height: 54rem;
    }
  }
}

.korea,
.penalty,
.codex {
  text-align: center;
}

.social-links {
  margin-top: 2rem;

  .social-link-item {
    display: inline-block;
    padding: 0.4rem;
    border-radius: 0.425rem;
    transition: all 0.5s ease-in;

    .btn-copy, span {
      display: none;
      position: relative;
      padding: 0;
      top: -1.125rem;
      color: #000000;
    }

    .btn-copy {
      background: none;
      border: none;
      cursor: pointer;
      vertical-align: middle;

      svg {
        width: 1rem;
        vertical-align: middle;
        transition: all 0.3s ease-in-out;
      }

      &:active svg {
        padding: 0.05rem;
      }

      &:before {
        position: absolute;
        bottom: -0.125rem;
        display: inline-block;
        content: '';
        width: 0;
        height: 0.125rem;
        background-color: #000000;
        transition: width .2s ease-in;
      }

      &:hover:before {
        width: 90%;
      }
    }

    .icon {
      display: inline-block;
      width: 3rem;
      fill: #ffffff;
    }

    &:hover {
      background-color: #ffffff;
    }

    &:hover .icon {
      fill: #000000;
    }

    &:hover .btn-copy {
      display: inline-block;
    }

    &:hover .btn-copy svg {
      animation-name: shake;
      animation-duration: 1s;
    }

    @keyframes shake {
      0% { transform: rotate(0deg); }
      25% { transform: rotate(5deg); }
      50% { transform: rotate(0eg); }
      75% { transform: rotate(-5deg); }
      100% { transform: rotate(0deg); }
    }
  }

  .social-link-item:nth-child(2) {
    margin-left: 1rem;
  }
}

